<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>File Manager</title>
  <script src="https://gcore.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--<script src="https://gcore.jsdelivr.net/npm/vuex/dist/vuex.js"></script>-->
  <script src="https://gcore.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
  <script src="https://gcore.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!--<script src="static/js/filemgr.js"></script>-->
  <link rel="icon" href="data:," />
</head>

<body>
  <div id="app">
    <h1>File Manager</h1>    
    <div>
      <input type="file" ref="fileInput" multiple @change="handleFileChange">
      <button @click="uploadFiles">Upload Local File</button>
    <br/>
      <input type="text" placeholder="URL" v-model="remoteURL">
      <button @click="uploadRemoteFile">Upload Remote File</button>
    </div>

    <hr />
    <section style="overflow: auto; white-space: nowrap;">
    <ul style="list-style: none; margin: 0; padding: 0; display: flex;">
      Disks: &nbsp;<li style="margin-right: 10px;" v-for="disk in disks" :key="disk.device">
        <router-link v-if="disk.mountpoint" :to="`/directory/${disk.mountpoint}`">{{ disk.device }}</router-link>
      </li>
    </ul>

    <div style="display: flex;">
      <span>
      <input type="text" v-model="keyword" placeholder="Filter by name" @keyup.enter="getFileList()">

      <select v-model="fileType" @change="getFileList()">
        <option value="">All</option>
        <option value="file">File Only</option>
        <option value="dir">Folder Only</option>
      </select>
      <label><input type="checkbox" v-model="showHiddenFiles" @change="() => getFileList()">Hidden</label>
      </span>
      
      <span style="flex-grow: 1; text-align: right;">
     SortBy:
      <select v-model="sortBy" @change="getFileList()">
        <option value="name">Name</option>
        <option value="size">Size</option>
        <option value="created_at">Created_at</option>
        <option value="modified_at">Modified_at</option>
      </select>

      <select v-model="order" @change="getFileList()">
        <option value="asc">Asc</option>
        <option value="desc">Desc</option>
      </select>
</span>
    </div>

    
    <nav id="breadcrumb"></nav>
    <!-- <router-view></router-view> -->
     <div style="display: flex;">
      <span>
      <button onclick="history.back()">←</button> <button onclick="history.forward()">→</button>
      <button @click="goToParentDirectory">../</button>
      <input type="text" id="directory" v-model="currentDirectory">
      <button @click="goToDirectory(currentDirectory)">Go</button>
      &nbsp;&nbsp;
      <button @click="copySelected">Copy</button>
      <button style="color: orange;" @click="moveSelected">Move</button>
      <button style="color: red;" @click="deleteSelected">Delete</button>
      <button @click="packSelected">Pack</button>
      
      </span>

      <span style="flex-grow: 1; text-align: right;">
        <button @click="createFile">New File</button>
        <button @click="createDirectory">New Folder</button>
      </span>
    </div>
    <hr style="margin:2px 0; border:0;">

    
    <table class="table table-striped" border="1" cellSpacing="0" style="width: 100%;">
      <thead>
        <tr style="background-color: lightgray; text-align: left;">
          <th style="padding: 5px;"><input type="checkbox" v-model="selectAll" @change="toggleSelectAll"></th>
          <th style="padding: 5px;">Name</th>
          <th style="padding: 5px;">Type</th>
          <th style="padding: 5px;">Size</th>
          <th style="padding: 5px;">Modified At</th>
          <th style="padding: 5px;">Created At</th>
          <th style="padding: 5px;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="file in files" :key="file.name">
          <td style="padding: 5px;">
            <input type="checkbox" v-model="file.selected">
          </td>
          <td style="padding: 5px;">
            <a v-if="!file.is_directory" @click="handleFileClick(file)" :value="file.path">{{ file.name }}</a>
            <router-link v-if="file.is_directory" :to="`/directory/${file.path}`">{{ file.name }}</router-link>
          </td>
          <td style="padding: 5px;">
            <span v-if="file.is_directory">Folder</span>
            <span v-else>File</span>
          </td>
          <td style="padding: 5px;"><span v-if="!file.is_directory">{{ formattedSize(file.size) }}</span></td>
          <td style="padding: 5px;">{{ formatDateTime(file.modified_at) }}</td>
          <td style="padding: 5px;">{{ formatDateTime(file.created_at) }}</td>
          <td style="padding: 5px;">
            <button @click="copyText(file.path)">Copy Path</button>
            <button @click="renameFile(file.path)">Rename</button>
            <button @click="deleteFile(file.path)">delete</button>
            <button @click="copyFile(file.path)">copy</button>
            <button @click="moveFile(file.path)">move</button>
            <button v-if="!file.is_directory" @click="previewFile(file.path)">Preview</button>
            <button v-if="!file.is_directory" @click="downloadFile(file.path)">Download</button>
            <button v-if="!file.is_directory" @click="editFileContent(file.path)">Edit</button>
            <button v-if="['.zip', '.rar', '.7z', '.tar', '.gz', '.tgz', '.xz', '.bz2', '.lz', '.zst'].some(ext => file.path.toLowerCase().endsWith(ext))" @click="unpackFiles(file.path)">Unpack</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <button @click="prevPage" :disabled="page <= 1"><</button>
      <span>page: {{ page }} / {{ totalPages }} (total: {{ total }} )</span>
      <button @click="nextPage" :disabled="page >= totalPages">></button>&nbsp;&nbsp;
      <label>per page:</label><input type="number" v-model.number="perPage" @change="getFileList()" style="width: 60px;">
    </div>
    </section>

    <div>
      <input type="text" readonly id="selectedFilePath" v-model="selectedFilePath" placeholder="Selected File Path">
    </div>

    <!-- 编辑文件内容对话框 -->
    <div v-if="showEditDialog">
      <h3>Edit File</h3>
      <textarea v-model="editedContent"></textarea>
      <button @click="saveFileContent">Save</button>
      <button @click="cancelEdit">Cancel</button>
    </div>


  </div>

  <script>

  function getBaseUrl() {
    let { protocol, host, pathname } = window.location;
    // pathname 未以/结尾时加上/
    if (!pathname.endsWith('/')) {
      pathname += '/';
    }
    const path = pathname.substring(0, pathname.lastIndexOf('/') + 1);
    return `${protocol}//${host}${path}`;
  }
  const BASE_URL = getBaseUrl();
  console.log("BASE_URL:", BASE_URL);


    function createPathBreadcrumb(path) {
      console.log("createPathBreadcrumb:", path);
      if (typeof path !== "string") {
        throw new Error("path 参数必须是字符串");
      }

      // 统一路径分隔符为 '/'
      const normalizedPath = path.replace(/\\/g, "/");

      // 按 '/' 分割并过滤空字符串（避免开头或结尾多余分隔）
      const parts = normalizedPath.split("/").filter(Boolean);

      // 当前累积路径
      let currentPath = normalizedPath.startsWith("/") ? "/" : "";

      // 创建 div 容器
      const container = document.createElement("div");

      parts.forEach((part, index) => {
        currentPath += part;

        const a = document.createElement("a");
        a.textContent = part;
        a.href = '#/directory/' + currentPath;

        container.appendChild(a);

        // 在 a 标签之间添加 /
        if (index < parts.length - 1) {
          const slash = document.createTextNode(" / ");
          container.appendChild(slash);
        }

        // 追加分隔符，方便下一个 a 标签拼接路径
        if (index < parts.length - 1) {
          currentPath += "/";
        }
      });

      return container;
    }

    // 创建动态路由组件
    const Directory = {
      template: `
          <div>{{ currentDirectory }}</div>
        `,
      computed: {
        currentDirectory() {
          return this.$route.params.directory || "/";
        },
      },
    };

    const router = new VueRouter({
      routes: [
        { path: '/directory/:directory(.*)', component: Directory }
      ]
    });

    new Vue({
      router,

      el: '#app',
      data: {
        currentDirectory: '/',
        remoteURL: '',
        disks: [],
        files: [],
        selectAll: false, // 全选按钮的状态
        showEditDialog: false, // 是否显示编辑文件对话框
        editedContent: "", // 编辑后的文件内容
        selectedFilePath: "", // 选中的文件路径
        showHiddenFiles: false,
        selectedFiles: [], // 多文件上传控件选择的文件

        // --- 新增分页/排序/过滤参数 ---
        page: 1,
        perPage: 100,
        total: 0,
        totalPages: 1,

        sortBy: 'name',
        order: 'asc',
        fileType: '', // '', 'file', 'dir'
        keyword: ''
      },
      created() {
        console.log('初始化加载' + this.$route.params.directory);
        
        this.getDiskList(); // 获取磁盘列表

        this.getFileList(this.$route.params.directory); // 初始化加载文件列表

        // let breadcrumb = createPathBreadcrumb(this.$route.params.directory);
        // document.getElementById("breadcrumb").replaceChildren(breadcrumb);

        // 监听路由参数变化
        this.$watch(
          () => this.$route.params.directory,
          (newDirectory) => {
            console.log('路由参数变化' + newDirectory);

            this.currentDirectory = newDirectory || '/';
            this.page = 1; // 切换目录重置页码
            this.getFileList(newDirectory); // 获取新目录的文件列表

            let breadcrumb = createPathBreadcrumb(newDirectory);
            document.getElementById("breadcrumb").replaceChildren(breadcrumb);

          }
        );
      },
      methods: {
         copyText(text) {
  if (navigator.clipboard?.writeText) {
    navigator.clipboard.writeText(text);
    alert('已复制到剪贴板: ' + text)
  } else {
    const t = document.createElement('textarea');
    t.value = text;
    document.body.appendChild(t);
    t.select();
    document.execCommand('copy');
    alert('已复制到剪贴板: ' + text)
    document.body.removeChild(t);
  }
},
        goToDirectory(path) {
          this.$router.push(`/directory/${path}`);
        },
        getDiskList() {
          axios.get(`${BASE_URL}disks`)
            .then(response => {
              this.disks = response.data.disks;
            })
            .catch(error => {
              console.error(error);
              alert("获取磁盘列表失败");
            });
        },

        getFileList(directory = this.currentDirectory) {
          directory = directory.endsWith('/') ? directory : directory + '/';

          axios.get(`${BASE_URL}files`, {
            params: {
              directory,
              show_hidden: this.showHiddenFiles,
              page: this.page,
              per_page: this.perPage,
              sort_by: this.sortBy,
              order: this.order,
              type: this.fileType,
              keyword: this.keyword
            }
          })
            .then(response => {
              this.files = response.data.files;
              this.total = response.data.total;
              this.totalPages = response.data.pages;
            })
            .catch(error => {
              console.error(error);
              alert("获取文件列表失败");
            });
        },

        // --- 分页控制 ---
        prevPage() {
          if (this.page > 1) {
            this.page--;
            this.getFileList();
          }
        },
        nextPage() {
          if (this.page < this.totalPages) {
            this.page++;
            this.getFileList();
          }
        },
        toggleSelectAll() {
          // 切换全选按钮的状态
          for (let file of this.files) {
            file.selected = this.selectAll;
          }
        },
        goToParentDirectory() {
          console.log('goToParentDirectory');
          const parentDirectory = this.currentDirectory
            .replace(/\\/g, '/') // 统一替换成正斜杠
            .split('/') // 用分隔符分割成数组
            .slice(0, -1) // 去除最后一个元素
            .join('/'); // 用分隔符拼接成字符串

          // 检查上级目录是否为空
          if (parentDirectory === '') {
            this.currentDirectory = '/';
          } else {
            this.currentDirectory = parentDirectory;
          }
          // 更新路由参数
          this.$router.push(`/directory/${this.currentDirectory}`);

          //this.getFileList(this.$route.params.directory);
        },

        formattedSize(size) {
          if (size >= 1024 * 1024 * 1024) {
            return `${(size / (1024 * 1024 * 1024)).toFixed(2)} GB`;
          } else if (size >= 1024 * 1024) {
            return `${(size / (1024 * 1024)).toFixed(2)} MB`;
          } else if (size >= 1024) {
            return `${(size / 1024).toFixed(2)} KB`;
          } else {
            return `${size} bytes`;
          }
        },
        formatDateTime(timestamp) {
          const date = new Date(timestamp * 1000); // 将时间戳转换为毫秒级别
          const year = date.getFullYear();
          const month = String(date.getMonth() + 1).padStart(2, '0');
          const day = String(date.getDate()).padStart(2, '0');
          const hours = String(date.getHours()).padStart(2, '0');
          const minutes = String(date.getMinutes()).padStart(2, '0');
          const seconds = String(date.getSeconds()).padStart(2, '0');

          return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        },
        createDirectory() {
          const newDirectoryName = prompt('Enter new directory name:', 'folder1');
          if (newDirectoryName == null || newDirectoryName.trim() === '') {
            return;
          }
          axios.post(`${BASE_URL}directories`, {
            directory: this.currentDirectory + '/' + newDirectoryName
          })
            .then(response => {
              console.log(response.data.message);
              this.getFileList();
            })
            .catch(error => {
              console.error(error);
            });
        },
        createFile() {
          const newFileName = prompt('Enter new file name:', 'file1.txt');
          if (newFileName == null || newFileName.trim() === '') {
            return;
          }
          axios.post(`${BASE_URL}files`, {
            filename: this.currentDirectory + '/' + newFileName
          })
            .then(response => {
              console.log(response.data.message);
              this.getFileList();
            })
            .catch(error => {
              console.error(error);
            });
        },
        deleteFile(filename) {
          // 询问用户确认删除
          if (!confirm('Are you sure you want to delete ' + filename + '?')) {
            return;
          }
          axios.delete(`${BASE_URL}files/${encodeURIComponent(filename)}`)
            .then(response => {
              console.log(response.data.message);
              this.getFileList();
            })
            .catch(error => {
              console.error(error);
            });
        },
        copyFile(filename) {
          const destination = prompt('Enter destination path:', filename);
          if (destination) {
            this.performFileAction('copy', filename, destination);
          }
        },
        moveFile(filename) {
          const destination = prompt('Enter destination path:', filename);
          if (destination) {
            this.performFileAction('move', filename, destination);
          }
        },
        renameFile(filename) {
          const newFilename = prompt('Enter new filename:', filename.replace(/\\/g, '/').split('/').pop());
          if (newFilename) {
            this.performFileAction('rename', filename, newFilename);
          }
        },

        deleteSelected() {
          const selectedFiles = this.getSelectedFiles();
          if (selectedFiles.length === 0) {
            alert('No files/directories selected.');
            return;
          }
          // 询问用户确认删除
          if (!confirm('Are you sure you want to delete the ' + selectedFiles.length + ' selected files/directories?')) {
            return;
          }
          // 批量删除选中的文件/目录
          axios.post(`${BASE_URL}files/delete`, { files: selectedFiles })
            .then(response => {
              console.log(response.data.message);
              // 刷新文件列表
              this.getFileList();
            })
            .catch(error => {
              console.error(error);
            });
        },
        copySelected() {
          // 批量复制选中的文件/目录
          const selectedFiles = this.getSelectedFiles();
          if (selectedFiles.length === 0) {
            alert('No files/directories selected.');
            return;
          }
          const destination = prompt('Enter destination path:');
          if (destination) {
            axios.post(`${BASE_URL}files/copy`, { files: selectedFiles, destination: destination })
              .then(response => {
                console.log(response.data.message);
                // 刷新文件列表
                this.getFileList();
              })
              .catch(error => {
                console.error(error);
              });
          }
        },
        moveSelected() {
          // 批量移动选中的文件/目录
          const selectedFiles = this.getSelectedFiles();
          if (selectedFiles.length === 0) {
            alert('No files/directories selected.');
            return;
          }
          const destination = prompt('Enter destination path:');
          if (destination) {
            axios.post(`${BASE_URL}files/move`, { files: selectedFiles, destination: destination })
              .then(response => {
                console.log(response.data.message);
                // 刷新文件列表
                this.getFileList();
              })
              .catch(error => {
                console.error(error);
              });
          }
        },

        // 编辑文件内容
        editFileContent(filePath) {
          fetch(`${BASE_URL}files/content/${filePath}`)
            .then((response) => response.json())
            .then((data) => {
              if ('content' in data) {
                this.editedContent = data.content;
                this.selectedFilePath = filePath;
                this.showEditDialog = true;
              }
            });
        },
        // 保存文件内容
        saveFileContent() {
          const formData = new FormData();
          formData.append("file_path", this.selectedFilePath);
          formData.append("content", this.editedContent);

          fetch(`${BASE_URL}files/edit`, {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data.message);
              alert(data.message);
              // 文件编辑成功，刷新文件列表
              this.getFileList();
              this.cancelEdit();
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        },
        // 取消编辑
        cancelEdit() {
          this.showEditDialog = false;
          this.editedContent = "";
          this.selectedFilePath = "";
        },

        performFileAction(action, filename, destination) {
          axios.post(`${BASE_URL}files/${encodeURIComponent(filename)}/actions`, {
            action: action,
            destination: destination
          })
            .then(response => {
              console.log(response.data.message);
              this.getFileList();
            })
            .catch(error => {
              console.error(error);
            });
        },
        downloadFile(filename) {
          window.location.href = `${BASE_URL}files/download/${encodeURIComponent(filename)}`;
        },
        previewFile(filename) {
          window.location.href = `${BASE_URL}files/preview/${filename}`;
        },
        handleFileClick(file) {
          if (file.is_directory) {
            this.currentDirectory = file.path;
            this.getFileList();
          } else {
            this.previewFile(file.path);
          }
        },


handleFileChange(event) {
    this.selectedFiles = Array.from(event.target.files);
  },
  uploadFiles() {
    if (this.selectedFiles.length === 0) {
      console.warn("未选择任何文件");
      return;
    }

    const formData = new FormData();
    this.selectedFiles.forEach(file => {
      formData.append('files', file); // 注意：字段名统一为 'files'
    });
    formData.append('directory', this.currentDirectory);

    axios.post(`${BASE_URL}files/upload`, formData)
      .then(response => {
        console.log(response.data.message);
        this.getFileList();
        this.selectedFiles = [];
        this.$refs.fileInput.value = null;
      })
      .catch(error => {
        console.error(error);
      });
  },
        
        uploadRemoteFile() {
          axios.post(`${BASE_URL}files/upload/remote`, {
            directory: this.currentDirectory,
            url: this.remoteURL
          })
            .then(response => {
              console.log(response.data.message);
              this.getFileList();
            })
            .catch(error => {
              console.error(error);
            });
        },
        
        packSelected() {
          // 打包选中的文件/目录
          const selectedFiles = this.getSelectedFiles();
          if (selectedFiles.length === 0) {
            alert('No files/directories selected.');
            return;
          }
          const zipFilename = prompt('Enter the zip filename:', this.$route.params.directory + '/archive.zip');
          if (!zipFilename) return;

          axios.post(`${BASE_URL}files/pack`, {
            files: selectedFiles,
            zip_filename: zipFilename // 检测到用户输入的是相对路径时自动转为绝对路径
          })
            .then(response => {
              console.log(response.data.message);
              this.getFileList();
            })
            .catch(error => {
              console.error(error);
            });
        },
        unpackFiles(filename) {
          axios.post(`${BASE_URL}files/unpack`, {
            zip_filename: filename,
            extract_directory: this.currentDirectory
          })
            .then(response => {
              console.log(response.data.message);
              this.getFileList();
            })
            .catch(error => {
              console.error(error);
            });
        },
        getSelectedFiles() {
          return this.files.filter(file => file.selected).map(file => file.path);
        }
      },
      mounted() {
        console.log("mounted");
        // 获取路由参数
        const directory = this.$route.params.directory;
        if (directory) {
          // 更新当前目录
          this.currentDirectory = directory;
          // 获取文件列表
          this.getFileList(directory);
        }
      }
    });
  </script>
</body>

</html>